.quiz{
    background-color: var(--black2);
    border-radius: 10px;
    color: var(--black9);
    padding: 15px;
    width: 35rem;
    margin: 0 auto;
}
.answers{
    background: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.answers > * {
    padding: 3px;
}
.select{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.check{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: 1px solid var(--black3);
    background-color: var(--black2);
}
.summit{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.button{
    background-color: var(--black0);
    border: 1px solid var(--brand5);
    border-radius: 10px;
    color: var(--black9);
    padding: 5px;
    width: 4.5rem;
    height: 3rem;
    margin: 1rem;
    cursor: pointer;
}
.button:hover{
    background-color: var(--brand5);
    color: var(--black0);
}
.true{
    background-color: var(--brand5);
    border-radius: 50%;
    color: var(--black0);
}
.false{
    background-color: var(--danger5);
    border-radius: 50%;
    color: var(--black0);
}