.quiz{
    background-color: var(--black7);
    color: var(--black4);
    padding: 1rem;
}
.answers{
    background-color: var(--black7);
    color: var(--black4);
    display: flex;
    flex-direction: column;
}